{% extends 'base.html' %}

{% block content %}
  <div class="container">
  <table>
    <thead>
      <tr>
        <th>ACS name</th>
        <th>IP</th>
        <th>Username</th>
        <th>Password</th>
        <th>Port</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td><a href="">{{ acs.name }}</a></td>
        <td><a href="">{{ acs.ip }}</a></td>
        <td><a href="">{{ acs.username }}</a></td>
        <td><a href="">{{ acs.password }}</a></td>
        <td><a href="">{{ acs.port }}</a></td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/deleteacs/{{ acs.id }}" role="button">Delete ACS</a></td>
      </tr>
     
    </tbody>
  </table>
  

  <form action="/acsupdate/{{ acs.id }}" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="name">New ACS Name:</label>
        <input type="text" class="form-control" placeholder="New ACS name" id="name" name="name" value="{{ acs.name }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="ip">IP:</label>
        <input type="text" class="form-control" placeholder="IP" id="ip" name="ip" value="{{ acs.ip }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="username">Username:</label>
        <input type="text" class="form-control" placeholder="Username" id="username" name="username" value="{{ acs.username }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="password">Password:</label>
        <input type="text" class="form-control" placeholder="Password" id="password" name="password" value="{{ acs.password }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="port">Port:</label>
        <input type="text" class="form-control" placeholder="Port" id="port" name="port" value="{{ acs.port }}">
      </div>
      
    <div class="col-sm-2 my-1">
       <button type="submit" class="btn btn-primary btn-block">Update</button>
    </div>
  </form>






{% endblock content %}
