{% extends 'base.html' %}

{% block content %}
  <div class="container">

  
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td><a href="">{{ user.username }}</a></td>
        <td><a href="">{{ user.email }}</a></td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/deleteuser/?id={{ user.id }}" role="button">Delete User</a></td>
      </tr>
      
    </tbody>
  </table>
  

  <form action="/userupdate/{{ user.id }}" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="email">Edit email:</label>
        <input type="text" class="form-control" name="email" id="email" value="{{ user.email }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="passwd">Edit password:</label>
        <input type="text" class="form-control" name="passwd" id="passwd" value="">
      </div>
      <div class="col-sm-2 my-1">
        <button type="submit" class="btn btn-primary btn-block">Update</button>
      </div>
    </div>
  </form>


{% endblock content %}