{% extends 'base.html' %}

{% block content %}
  <div class="container">
  {% if olts|length < 1 %}
  <p>There is no OLTs registered now.</p>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>OLT Name</th>
        <th>OLT IP</th>
        <th>Username</th>
        <th>Password</th>
        <th>TR-069 id</th>
        <th>Line id</th>
        <th>Service ID</th>
      </tr>
    </thead>
    <tbody>
      {% for olt in olts %}
      <tr>
        <td><a href="">{{ olt.name }}</a></td>
        <td><a href="">{{ olt.ip }}</a></td>
        <td><a href="">{{ olt.username }}</a></td>
        <td><a href="">{{ olt.password }}</a></td>
        <td><a href="">{{ olt.tr069 }}</a></td>
        <td><a href="">{{ olt.linepr }}</a></td>
        <td><a href="">{{ olt.service_id }}</a></td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/deleteolt/{{ olt.id }}" role="button">Delete</a></td>
        <td class="text-right"><a class="btn btn-success btn-sm" href="/oltautofind/?ip={{ olt.ip }}&username={{olt.username}}&password={{olt.password}}" role="button">Autofind</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <form action="/olt" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="name">New OLT Name:</label>
        <input type="text" class="form-control" placeholder="OLT Name" id="name" name="name">
      </div>
      <div class="col-sm-10 my-1">
        <label for="ip">New OLT IP:</label>
        <input type="text" class="form-control" placeholder="IP address" id="ip" name="ip">
      </div>
      <div class="col-sm-10 my-1">
        <label for="username">New OLT Username:</label>
        <input type="text" class="form-control" placeholder="Enter username" id="username" name="username">
      </div>
      <div class="col-sm-10 my-1">
        <label for="password">New OLT Password:</label>
        <input type="text" class="form-control" placeholder="Enter password" id="password" name="password">
      </div>
      <div class="col-sm-10 my-1">
        <label for="tr069">Define TR-069 profile ID:</label>
        <input type="text" class="form-control" placeholder="Enter tr-069 profile ID" id="tr069" name="tr069">
      </div>
      <div class="col-sm-10 my-1">
        <label for="linepr">Define Line profile ID:</label>
        <input type="text" class="form-control" placeholder="Enter tr-069 profile ID" id="linepr" name="linepr">
      </div>
    </div>
    <div class="col-sm-10 my-1">
        <td>Select Service: </td>
          <select name=servv id=servv>
            {% for line in services %}
            <option value= "{{ line.name }}" SELECTED>{{ line.name }}</option>"
            {% endfor %}
          </select>
    </div>
    <div class="col-sm-2 my-1">
       <button type="submit" class="btn btn-primary btn-block">Add</button>
    </div>
  </form>


{% if results|length < 1 %}
  <p>There is no OLTs output.</p>
  {% else %}
  <table>
    <thead>
       <h2>OLT Output</h2>
    </thead>
    <tbody>
      <tr>
       <td>{{ results }}</td>
      </tr>
    </tbody>
  </table>
  {% endif %}




{% endblock content %}
