{% extends 'base.html' %}

{% block content %}
  <div class="container">
 
  <h2>ONT basic parameters:</h2>

  <table style="width:100%">
    <tr>
      <th>ONT Name: </th>
      <td>{{ ont.name }}</td>
    </tr>
    <tr>
      <th>Serial_Number: </th>
      <td>{{ ont.serial }}</td>
    </tr>
    <tr>
      <th>Model: </th>
      <td>{{ ont.model }}</td>
    </tr>
    <tr>
      <th>Status: </th>
      <td>{{ ont.activest }}</td>
    </tr>
    <tr>
      <th>OLT's name: </th>
      <td>{{ olt.name }}</td>
    </tr>
    <tr>
      <th>PPPoE username: </th>
      <td>{{ ont.pppuser }}</td>
    </tr>
    <tr>
      <th>PPPoE password: </th>
      <td>{{ ont.ppppass }}</td>
    </tr>
    <tr>
      <th>WiFi SSID: </th>
      <td>{{ ont.ssid }}</td>
    </tr>
    <tr>
      <th>WiFi SSID 5G: </th>
      <td>{{ ont.ssid5g }}</td>
    </tr>
    <tr>
      <th>WIFI Pass: </th>
      <td>{{ ont.wifipass }}</td>
    </tr>
    <tr>
    <tr>
      <th>Telephone: </th>
      <td>{{ ont.tlf }}</td>
    </tr>
    <tr>
      <th>Tlf pass: </th>
      <td>{{ ont.tlfpass }}</td>
    </tr>
    <tr>
      <th>SIP server name: </th>
      <td>{{ sip.name }}</td>
    </tr>
    <tr>
      <th>TR069 profile: </th>
      <td>{{ tr069profile.name }}</td>
    </tr>
    <tr>
      <td class="text-right"><a class="btn btn-warning btn-sm" href="/serialupdate/{{ ont.serial }}" role="button">Edit ONT</a></td>
      {% if resp1 == 1 %}
      <td class="text-right"><a class="btn btn-success btn-sm" href="http://{{ acs.ip }}:3000/devices/00259E-{{ model }}-{{ ont.serial }}" role="button">Get ACS actual data</a></td>
      <td class="text-right"><a class="btn btn-success btn-sm" href="http://{{ acs.ip }}:3000/presets/00259E-{{ model }}-{{ ont.serial }}/edit" role="button">Get ACS preset</a></td>
      <td class="text-right"><a class="btn btn-info btn-sm" href="/acsupgrade/{{ ont.id }}" role="button">Upgrade ACS preset</a></td>
      <td class="text-right"><a class="btn btn-danger btn-sm" href="/acsdelete/{{ ont.id }}" role="button">Remove ACS preset</a></td>
      {% else %}
      <td><a class="btn btn-info">No ACS devices found</a></td>
      {% endif  %}
  </table>




{% endblock content %}
