{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
  </div>
  {% endfor %}  
  <h2>ONT basic parameters:</h2>

  <table style="width:100%">
    <tr>
      <th>ONT Name: </th>
      <td>{{ ont.name }}</td>
    </tr>
    <tr>
      <th>Serial_Number: </th>
      <td>{{ ont.serial }}</td>
    </tr>
    <tr>
      <th>Model: </th>
      <td>{{ ont.model }}</td>
    </tr>
    <tr>
      <th>Status: </th>
      <td>{{ ont.activest }}</td>
    </tr>
    <tr>
      <th>PPPoE username: </th>
      <td>{{ ont.pppuser }}</td>
    </tr>
    <tr>
      <th>PPPoE password: </th>
      <td>{{ ont.ppppass }}</td>
    </tr>
    <tr>
      <th>Telephone: </th>
      <td>{{ ont.tlf }}</td>
    </tr>
    <tr>
      <th>Tlf pass: </th>
      <td>{{ ont.tlfpass }}</td>
    </tr>
    <tr>
      <th>WiFi SSID: </th>
      <td>{{ ont.ssid }}</td>
    </tr>
    <tr>
      <th>WiFi SSID 5G: </th>
      <td>{{ ont.ssid5g }}</td>
    </tr>
    <tr>
      <th>WIFI Pass: </th>
      <td>{{ ont.wifipass }}</td>
    </tr>
    <tr>
      <th>SIP server name: </th>
      <td>{{ sip.name }}</td>
    </tr>
    <tr>
      <th>TR069 profile: </th>
      <td>{{ tr069.name }}</td>
    </tr>
  </table>
  <form action="/serialupdate/{{ ont.serial }}" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="name">Edit name:</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ ont.name }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="model">Edit model:</label>
        <input type="text" class="form-control" name="model" id="model" value="{{ ont.model }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="pppuser">Edit PPPoe Username:</label>
        <input type="text" class="form-control" name="pppuser" id="pppuser" value="{{ ont.pppuser }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="ppppass">Edit PPPoe Password:</label>
        <input type="text" class="form-control" name="ppppass" id="ppppass" value="{{ ont.ppppass }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="ssid">Edit WiFI SSID:</label>
        <input type="text" class="form-control" name="ssid" id="ssid" value="{{ ont.ssid }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="ssid5g">Edit WiFi SSID 5G:</label>
        <input type="text" class="form-control" name="ssid5g" id="ssid5g" value="{{ ont.ssid5g }}">
      </div>
      <div class="col-sm-10 my-1">
        <label for="wifipass">Edit WiFi password:</label>
        <input type="text" class="form-control" name="wifipass" id="wifipass" value="{{ ont.wifipass }}">
      </div>


      <div class="col-sm-2 my-1">
        <button type="submit" class="btn btn-primary btn-block">Update</button>
      </div>
    </div>
    <div class="col-sm-10 my-1">
      <td>Select SIP server: </td>
        <select name=sipname id=sipname>
          {% for sip1 in sipp %}
          <option value= "{{ sip1.name }}" SELECTED>{{ sip1.name }}</option>"
          {% endfor %}  
        </select>
    </div>
    <div class="col-sm-10 my-1">
      <td>Select TR069 profile: </td>
        <select name=tr069name id=tr069name>
          {% for tr0691 in tr069_ %}
          <option value= "{{ tr0691.name }}" SELECTED>{{ tr0691.name }}</option>"
          {% endfor %}  
        </select>
    </div>
  </form>



{% endblock content %}
