{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
  </div>
  {% endfor %}  
  {% if services|length < 1 %}
  <p>There is no Services registered now.</p>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>Service name</th>
        <th>SVLAN1</th>
        <th>SVAN2</th>
        <th>SVLAN3</th>
        <th>CVLAN1</th>
        <th>CVLAN2</th>
        <th>CVLAN3</th>
        <th>GEM1</th>
        <th>GEM2</th>
        <th>GEM3</th>
        <th>TTInt</th>
        <th>TTVoip</th>
      </tr>
    </thead>
    <tbody>
      {% for service in services %}
      <tr>
        <td><a href="">{{ service.name }}</a></td>
        <td><a href="">{{ service.svlan1 }}</a></td>
        <td><a href="">{{ service.svlan2 }}</a></td>
        <td><a href="">{{ service.svlan3 }}</a></td>
        <td><a href="">{{ service.cvlan1 }}</a></td>
        <td><a href="">{{ service.cvlan2 }}</a></td>
        <td><a href="">{{ service.cvlan3 }}</a></td>
        <td><a href="">{{ service.gemport1 }}</a></td>
        <td><a href="">{{ service.gemport2 }}</a></td>
        <td><a href="">{{ service.gemport3 }}</a></td>
        <td><a href="">{{ service.ttinternet }}</a></td>
        <td><a href="">{{ service.ttvoip }}</a></td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/deleteservice/{{ service.id }}" role="button">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <form action="/service" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="name">New Service Name:</label>
        <input type="text" class="form-control" placeholder="New Service name" id="name" name="name">
      </div>
      <div class="col-sm-10 my-1">
        <label for="username">SVLAN1:</label>
        <input type="text" class="form-control" placeholder="SVLAN1" id="svlan1" name="svlan1">
      </div>
      <div class="col-sm-10 my-1">
        <label for="password">SVLAN2:</label>
        <input type="text" class="form-control" placeholder="SVLAN2" id="svlan2" name="svlan2">
      </div>
      <div class="col-sm-10 my-1">
        <label for="username">SVLAN3:</label>
        <input type="text" class="form-control" placeholder="SVLAN3" id="svlan3" name="svlan3">
      </div>
      <div class="col-sm-10 my-1">
        <label for="password">CVLAN1:</label>
        <input type="text" class="form-control" placeholder="CVLAN1" id="cvlan1" name="cvlan1">
      </div>
      <div class="col-sm-10 my-1">
        <label for="password">CVLAN2:</label>
        <input type="text" class="form-control" placeholder="CVLAN2" id="cvlan2" name="cvlan2">
      </div>
      <div class="col-sm-10 my-1">
        <label for="username">CVLAN3:</label>
        <input type="text" class="form-control" placeholder="CVLAN3" id="cvlan3" name="cvlan3">
      </div>
      <div class="col-sm-10 my-1">
        <label for="password">Gemport1:</label>
        <input type="text" class="form-control" placeholder="Gemport1" id="gemport1" name="gemport1">
      </div>
      <div class="col-sm-10 my-1">
        <label for="password">Gemport2:</label>
        <input type="text" class="form-control" placeholder="Gemport2" id="gemport2" name="gemport2">
      </div>
      <div class="col-sm-10 my-1">
        <label for="password">Gemport3:</label>
        <input type="text" class="form-control" placeholder="Gemport3" id="gemport3" name="gemport3">
      </div>

      <div class="col-sm-10 my-1">
        <label for="linepr">Traffic Table Internet:</label>
        <input type="text" class="form-control" placeholder="Traffic Table Internet:" id="ttinternet" name="ttinternet">
      </div>
      <div class="col-sm-10 my-1">
        <label for="linepr">Traffic Table Voip:</label>
        <input type="text" class="form-control" placeholder="Traffic Table Voip:" id="ttvoip" name="ttvoip">
      </div>
    </div>
    <div class="col-sm-2 my-1">
       <button type="submit" class="btn btn-primary btn-block">Add</button>
    </div>
  </form>






{% endblock content %}
