{% extends 'base.html' %}

{% block content %}
  <div class="container">
 
  {% if sips|length < 1 %}
  <p>There is no SIP servers registered now.</p>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>SIP name</th>
        <th>IP/Url</th>
        <th>Port</th>
      </tr>
    </thead>
    <tbody>
      {% for sip in sips %}
      <tr>
        <td><a href="">{{ sip.name }}</a></td>
        <td><a href="">{{ sip.ip }}</a></td>
        <td><a href="">{{ sip.port }}</a></td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/deletesip/{{ sip.id }}" role="button">Delete SIP</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <form action="/sip" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="name">New SIP Name:</label>
        <input type="text" class="form-control" placeholder="New ACS name" id="name" name="name">
      </div>
      <div class="col-sm-10 my-1">
        <label for="ip">IP:</label>
        <input type="text" class="form-control" placeholder="IP" id="ip" name="ip">
      </div>
      <div class="col-sm-10 my-1">
        <label for="port">Port:</label>
        <input type="text" class="form-control" placeholder="Default 5060" id="port" name="port">
      </div>
      
      
    <div class="col-sm-2 my-1">
       <button type="submit" class="btn btn-primary btn-block">Add</button>
    </div>
  </form>






{% endblock content %}