{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <form class="form-inline" >
      <div class="form-group">
          {{ form.serial(class="form-control") }}
        </div>
        <button id="ticketNumberButton" type="submit" class="btn btn-info">Submit</button>
     </form>
     <div>
     <ul type="text" id="result"></ul>
     </div>
  <table>
    <thead>
      <tr>
        <th>Customer's name</th>
        <th>Serial_Number</th>
        <th>Model</th>
        <th>SlotID</th>
        <th>PortID</th>
        <th>Status</th>
        <th>OLT IP</th>
      </tr>
    </thead>
    <tbody>
      {% for ont in onts.items %}
      <tr>
        <td><a href="/{{ ont.serial }}">{{ ont.name }}</a></td>
        <td><a href="/{{ ont.serial }}">{{ ont.serial }}</a></td>
        <td><a href="/{{ ont.serial }}">{{ ont.model }}</a></td>
        <td><a href="/{{ ont.serial }}">{{ ont.slotid }}</a></td>
        <td><a href="/{{ ont.serial }}">{{ ont.portid }}</a></td>
        <td><a href="/{{ ont.serial }}">{{ ont.activest }}</a></td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/?id={{ ont.id }}" role="button">Delete from DB</a></td>
        <td class="text-right"><a class="btn btn-success btn-sm" href="/getontinfo/?sn={{ ont.serial }}" role="button">Info</a></td>
        <td class="text-right"><a class="btn btn-info btn-sm" href="/ontadd/?sn={{ ont.serial }}" role="button">Add ONT</a></td>
        <td class="text-right"><a class="btn btn-secondary btn-sm" href="/ontdelete/?sn={{ ont.serial }}" role="button">Delete from OLT</a></td>
        <td class="text-right"><a class="btn btn-warning btn-sm" href="/ontreset/?sn={{ ont.serial }}" role="button">ONT Reset</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% for page_num in onts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if onts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}


  <form action="/" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="serial">New ONT customer's name:</label>
        <input type="text" class="form-control" placeholder="Customer's name" id="cname" name="cname">
      </div>
      <div class="col-sm-10 my-1">
        <label for="serial">New ONT serial:</label>
        <input type="text" class="form-control" placeholder="Serial of ONT" id="serial" name="serial">
      </div>
      <div class="col-sm-10 my-1">
        <label for="model">New ONT model:</label>
        <input type="text" class="form-control" placeholder="Enter new ONT model" id="model" name="model">
      </div>
      <div class="col-sm-10 my-1">
        <td>Select OLT by IP: </td>
          <select name=name id=name>
            {% for line in names %}
            <option value= "{{ line.name }}" SELECTED>{{ line.name }}</option>"
            {% endfor %}  
          </select>
      </div>
      <div class="col-sm-2 my-1">
       <button type="submit" class="btn btn-primary btn-block">Add</button>
      </div>
    </div>
  </form>

{% if results1|length < 1 %}
  <p>There is no ONT info.</p>
  {% else %}
  <table>
    <thead>
       <h2>ONT Info</h2>
    </thead>
    <tbody>
      <tr>
        <th>ONT ID: </th>
        <td>{{ results1['ONT-ID'] }}</td>
      </tr>
      <tr>
        <th>F/S/P: </th>
        <td>{{ results1['F/S/P'] }}</td>
      </tr>
      <tr>
        <th>Run state: </th>
        <td>{{ results1['Run state'] }}</td>
      </tr>
      </tbody>
  </table>
  {% endif %}

{% if results6|length < 1 %}
  <p>There is no Optical info, ONT is offline.</p>
  {% else %}
  <table>
    <thead>
       <h2>Optical Info</h2>
    </thead>
    <tbody>
      <tr>
        <th>Rx optical power(dBm) </th>
        <td>{{ results6['Rx optical power(dBm)'] }}</td>
      </tr>
      <tr>
        <th>Tx optical power(dBm) </th>
        <td>{{ results6['Tx optical power(dBm)'] }}</td>
      </tr>
      </tbody>
  </table>
  {% endif %}

{% if results2|length < 1 %}
  <p>---.</p>
  {% else %}
  <table>
    <thead>
      <h2>ONT Service Ports</h2>
      <tr>
        <th>Service Port</th>
        <th>SVLAN</th>
        <th>Type</th>
        <th>F/S</th>
        <th>Port</th>
        <th>Cvlan</th>
        <th>RX</th>
        <th>TX</th>
        <th>state</th>
      </tr>
    </thead>
    <tbody>
      {% for res2 in results2 %}
      <tr>
        <td>{{ res2['service-port'] }}</td>
        <td>{{ res2['svlan'] }}</td>
        <td>{{ res2['type'] }}</td>
        <td>{{ res2['F/S'] }}</td>
        <td>{{ res2['port'] }}</td>
        <td>{{ res2['cvlan'] }}</td>
        <td>{{ res2['RX'] }}</td>
        <td>{{ res2['TX'] }}</td>
        <td>{{ res2['state'] }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}


{% if results3|length < 1 %}
  <p>---.</p>
  {% else %}
  <table>
    <thead>
      <h2>ONT WAN Info</h2>
      <tr>
        <th>Index</th>
        <th>Service type</th>
        <th>Connection type</th>
        <th>Connection status</th>
        <th>IP access type</th>
        <th>IP</th>
        <th>Subnet mask</th>
        <th>Default gateway</th>
        <th>Manage VLAN</th>
        <th>Manage priority</th>
      </tr>
    </thead>
    <tbody>
      {% for res3 in results3 %}
      <tr>
        <td>{{ res3['Index'] }}</td>
        <td>{{ res3['Service type'] }}</td>
        <td>{{ res3['Connection type'] }}</td>
        <td>{{ res3['Connection status'] }}</td>
        <td>{{ res3['IP access type'] }}</td>
        <td>{{ res3['IP'] }}</td>
        <td>{{ res3['Subnet mask'] }}</td>
        <td>{{ res3['Default gateway'] }}</td>
        <td>{{ res3['Manage VLAN'] }}</td>
        <td>{{ res3['Manage priority'] }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% if results4|length < 1 %}
  <p>---.</p>
  {% else %}
  <table>
    <thead>
      <h2>ONT Version Info</h2>
   </thead>
   <tbody>
     <tr>
       <th>Equipment-ID: </th>
       <td>{{ results4['Equipment-ID'] }}</td>
     </tr>
     <tr>
       <th>Software: </th>
       <td>{{ results4['Software'] }}</td>
     </tr>
     </tbody>
  </table>
  {% endif %}


{% if results5|length < 1 %}
  <p>---.</p>
  {% else %}
  <table>
    <thead>
      <h2>ONT Log Info</h2>
      <tr>
        <th>Index</th>
        <th>SN </th>
        <th>Type</th>
        <th>UpTime</th>
        <th>DownTime</th>
        <th>Down Case</th>
      </tr>
    </thead>
    <tbody>
      {% for res5 in results5 %}
      <tr>
        <td>{{ res5['Index'] }}</td>
        <td>{{ res5['SN'] }}</td>
        <td>{{ res5['TYPE'] }}</td>
        <td>{{ res5['UpTime'] }}</td>
        <td>{{ res5['DownTime'] }}</td>
        <td>{{ res5['DownCause'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}


{% endblock content %}



{% block script %}

<script>
$(document).ready(function(){
 var serial=[];
 function loadSerial(){
  $.getJSON('/search/serial', function(data, status, xhr){
   for (var i = 0; i < data.length; i++ ) {
    serial.push(data[i].serial);
   }
 });
 };
 loadSerial();
 
 $('#serial').autocomplete({
  source: serial, 
 }); 
 
 $('button#ticketNumberButton').on('submit', function(e){
  $.ajax({
   data: {
    serial:$('#serial').val()
   },
   type: 'POST',
   url : '/process'
  })
  .done(function(data){ 
   if (data.error){
    $('#result').text(data.error).show();
   }
   else {
    $('#result').html(data.serial).show()
   }
  })
  e.preventDefault();
 });
}); 


</script>


{% endblock %}

