{% extends 'base.html' %}

{% block content %}
  <div class="container">
 
  {% if campos|length < 1 %}
  <p>There is no TR069 fields registered now.</p>
  {% else %}
  <table>
    <thead>
        <tr>
          <th>Name</th>
          <th>Short Name</th>
        </tr>
      </thead>
      <tbody>
        {% for campo in campos %}
        <tr>
          <td><a href="">{{ campo.name }}</a></td>
          <td><a href="">{{ campo.value }}</a></td>
          <td class="text-right"><a class="btn btn-danger btn-sm" href="/deletecampo/{{ campo.id }}" role="button">Delete line</a></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  {% endif %}

  <form action="/tr069campos" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="name">Name:</label>
        <input type="text" class="form-control" placeholder="Name" id="name" name="name">
      </div>
      <div class="col-sm-10 my-1">
        <label for="value">Value:</label>
        <input type="text" class="form-control" placeholder="value" id="value" name="value">
      </div>
            
    <div class="col-sm-2 my-1">
       <button type="submit" class="btn btn-primary btn-block">Add</button>
    </div>
  </form>






{% endblock content %}