{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="col-sm-2 my-1">
        <td><a class="btn btn-info btn-sm" role="button" href="/tr069campos" class="btn btn-primary btn-sm">TR069 line configs</a></div>
     </div>
  {% if profiles|length < 1 %}
  <p>There is no TR069 profiles registered now.</p>
  {% else %}
  <table>
    <thead>
        <tr>
          <th>Name</th>
          <th>Internet</th>
          <th>Voip</th>
          <th>Acs server</th>
        </tr>
      </thead>
      <tbody>
        {% for profile in profiles %}
        <tr>
          <td><a href="/profile/{{ profile.id }}">{{ profile.name }}</a></td>
          <td><a href="/profile/{{ profile.id }}">{{ profile.internet }}</a></td>
          <td><a href="/profile/{{ profile.id }}">{{ profile.voip }}</a></td>
          <td><a href="/profile/{{ profile.id }}">{{ profile.acs_id }}</a></td>
          <td class="text-right"><a class="btn btn-danger btn-sm" href="/deleteprofile/{{ profile.id }}" role="button">Delete line</a></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  {% endif %}

  <form action="/tr069profiles" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="name">Name:</label>
        <input type="text" class="form-control" placeholder="Name" id="name" name="name">
      </div>
    
      <div class="col-sm-10 my-1">
        <td>Internet: </td>
          <select name=internet id=internet>
            <option value= "0" SELECTED>Internet Disabled</option>"
            <option value= "1" SELECTED>Internet Enabled</option>"
            <option value="1" selected>Internet Enabled</option>
          </select>
      </div>
    
      <div class="col-sm-10 my-1">
        <td>Voip: </td>
          <select name=voip id=voip>
            <option value= "0" SELECTED>Voip Disabled</option>"
            <option value= "1" SELECTED>Voip Enabled</option>"
            <option value="1" selected>Voip Enabled</option>
          </select>
      </div>
      <div class="col-sm-10 my-1">
        <td>Select ACS server: </td>
          <select name=acsname id=acsname>
            {% for line in acss %}
            <option value= "{{ line.name }}" SELECTED>{{ line.name }}</option>"
            {% endfor %}
          </select>
      </div>
    <div class="col-sm-2 my-1">
       <button type="submit" class="btn btn-primary btn-block">Add</button>
    </div>
  </form>

{% endblock content %}