{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="col-sm-2 my-1">
        <td><a class="btn btn-warning btn-sm" role="button" href="/tr069campos" class="btn btn-primary btn-sm">TR069 line configs</a></div>
     </div>
  <table>
    <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for profile in profiles %}
        {%if profile.profid == profileid %}
        <tr>
          <td><a href="">{{ profile.cvalue }}</a></td>
          <td><a href="">{{ profile.pvalue }}</a></td>
          <td class="text-right"><a class="btn btn-danger btn-sm" href="/deleteparamprofile/{{ profile.mainid }}" role="button">Delete line</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
  </table>
 

  <form action="/profile/{{ profileid }}" method="POST">
    <div class="form-row">
      <div class="col-sm-10 my-1">
        <label for="value">value:</label>
        <input type="text" class="form-control" placeholder="value" id="value" name="value">
      </div>
      <div class="col-sm-10 my-1">
        <td>Select line: </td>
          <select name=campo_name id=campo_name>
            {% for line in campos %}
            <option value= "{{ line.value }}" SELECTED>{{ line.value }}</option>"
            {% endfor %}
          </select>
      </div>
    <div class="col-sm-2 my-1">
       <button type="submit" class="btn btn-primary btn-block">Add</button>
    </div>
  </form>

{% endblock content %}