{% extends 'base.html' %}

{% block content %}
  <div class="container">
  {% if users|length < 1 %}
  <p>There is no users registered now.</p>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td><a href="">{{ user.username }}</a></td>
        <td><a href="">{{ user.email }}</a></td>
        <td class="text-right"><a class="btn btn-warning btn-sm" href="/userupdate/{{ user.id }}" role="button">Update User</a></td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/deleteuser/?id={{ user.id }}" role="button">Delete User</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}



{% endblock content %}
